html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: helvetica, arial, sans-serif;
  background-color: #6d4588; /* achtergrondkleur pagina */
  overflow-x: hidden; /* voorkomt horizontaal scrollen */
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* zorgt dat de achtergrond altijd de volledige hoogte beslaat */
}

.templateContainer {
  width: 60%;
  max-width: 1200px;
  margin: 20px auto; /* zorgt voor gelijke padding */
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.logo {
  max-width: 200px;
  margin-bottom: 20px;
}

footer {
  margin-top: 40px;
  font-size: 14px;
  color: #606060;
}

@media only screen and (max-width: 768px) {
  .templateContainer {
    width: 95%;
  }
}
